.svgMap-map-wrapper {
  position: relative;
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
  background: $oceanColor;
  color: $textColor;

  * {
    box-sizing: border-box;
    outline: none;
  }

  .svgMap-map-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  // Controls

  .svgMap-map-controls-wrapper {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    display: flex;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
  }

  .svgMap-map-controls-zoom,
  .svgMap-map-controls-move {
    display: flex;
    margin-right: 5px;
    overflow: hidden;
    background: #fff;

    &:last-child {
      margin-right: 0;
    }
  }

  .svgMap-control-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;

    &.svgMap-zoom-button {

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #666;
        transition: background-color .2s;
      }

      &:before {
        width: 11px;
        height: 3px;
      }

      &:hover {

        &:before,
        &:after {
          background: $textColor;
        }
      }

      &.svgMap-disabled {

        &:before,
        &:after {
          background: #ccc;
        }
      }
    }

    &.svgMap-zoom-in-button {
      &:after {
        width: 3px;
        height: 11px;
      }
    }
  }

  // Countries

  .svgMap-country {
    cursor: pointer;
    stroke: #fff;
    stroke-width: 1;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
    transition: fill .2s, stroke .2s;

    &:hover,
    &.svgMap-active {
      stroke: $mapActiveStrokeColor;
    }

    &.svgMap-active {
      stroke-width: $mapActiveStrokeWidth;
    }
  }
}