.svgWorldmap-tooltip {
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  position: absolute;
  z-index: 10000;
  border-radius: 2px;
  background: #fff;
  transform: translate(-50%, -100%);
  border-bottom: 1px solid #000;
  display: none;
  pointer-events: none;
  min-width: 60px;

  &.svgWorldmap-tooltip-flipped {
    transform: translate(-50%, 0);
    border-bottom: 0;
    border-top: 1px solid #000;
  }

  &.svgWorldmap-active {
    display: block;
  }

  .svgWorldmap-tooltip-content-container {
    position: relative;
    padding: 10px 20px;

    .svgWorldmap-tooltip-flag {
      display: block;
      margin: auto;
      width: auto;
      height: 32px;
      padding: 2px;
      background: rgba(0, 0, 0, .15);
      border-radius: 2px;
    }
  }

  .svgWorldmap-tooltip-title {
    white-space: nowrap;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
  }

  .svgWorldmap-tooltip-content {
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    color: #888;
    margin: -5px 0 0;
  }

  .svgWorldmap-tooltip-pointer {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    height: 10px;
    width: 30px;
  
    &:after {
      content: '';
      width: 20px;
      height: 20px;
      background: #fff;
      border: 1px solid #000;
      position: absolute;
      bottom: 6px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
  }
  
  &.svgWorldmap-tooltip-flipped {
    .svgWorldmap-tooltip-pointer {
      bottom: auto;
      top: -10px;
      transform: translateX(-50%) scaleY(-1);
    }
  }
}