// General
$textColor: #111 !default;
$textColorLight: #777 !default;

// Map
$oceanColor: #d9ecff !default;
$mapActiveStrokeColor: #333 !default;
$mapActiveStrokeWidth: 1.5 !default;
$blockZoomNoticeColor: #fff !default;
$blockZoomNoticeBackgroundColor: rgba(0, 0, 0, 0.8) !default;

// Map Controls
$mapControlsColor: #fff;
$mapControlsBackgroundColor: #fff !default;
$mapControlsIconColor: #ccc !default;
$mapControlsIconColorActive: #000 !default;
$mapControlsDisabledColor: #eee !default;
$mapControlsBoxShadow: 0 0 0 2px rgba(0, 0, 0, 0.1) !default;

// Map Tooltip
$mapTooltipColor: #111 !default;
$mapTooltipBackgroundColor: #fff !default;
$mapTooltipFlagBackgroundColor: rgba(0, 0, 0, 0.15) !default;
$mapTooltipBoxShadowColor: rgba(0, 0, 0, 0.2) !default;

// Continent Controls
$continentControlsBoxShadow: 0 0 0 2px rgba(0, 0, 0, 0.1) !default;

// Country
$countryStrokeColor: #fff !default;
